@font-face {
    font-family: "typo";
    src: url("D:/Documents/BeCode/Exe/ReproducingLayout/reproducing-layout/resources/bahnschrift.ttf") format("truetype");

    font-family: "typo1";
    src: url("D:/Documents/BeCode/Exe/ReproducingLayout/reproducing-layout/resources/Marcellus-Regular.ttf") format("truetype");
}

body{
    font-family: "typo", sans-serif;
    font-size: 1em;
    margin: 100px 200px 100px 200px;
}


/*------------------------------------------------- HEAD SECTION -----------------------------------------------------------*/

.headSection{
    margin-bottom: 80px;
    text-align: right;
}

q{
    color: rgb(180, 180, 180);
    font-family: "typo1";
    font-style: italic;
    font-size: 1.2em;
}


/*------------------------------------------------- SECTION PROFIL -----------------------------------------------------------*/


section{
    margin: 120px auto;
}

h2{
    border-bottom: 0.1em solid rgb(32, 32, 32);
    width: auto;
    padding-bottom: 10px;
}

.divProfil{
    display: flex;
}

.youngPerson{
    font-weight: 900;
    font-size: 6.1em;
    padding-left: 50px;
    text-align: justify;
}


/*------------------------------------------------- SECTION HOBBIES -----------------------------------------------------------*/


table, td {
    height: 30px;
}

td{
    padding-left: 20px;
}

.firstColumn, .secondColumn{
    width: 200px;
}

.firstCell{
    text-align: center;
    padding: auto;
}

table tr:nth-child(odd){
    background-color: rgb(243, 243, 243);
    color: rgb(27, 27, 27);
}
table tr:nth-child(even) {
    background-color: rgb(27, 27, 27);
    color: rgb(243, 243, 243);
}

label{
    cursor: pointer;
    display: flex;
    align-items: center;
}

input{
    appearance: none;
    height: 15px;
    width: 15px;
    background-color: rgb(27, 27, 27);
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
input:after{
    content: "✓";
    font-weight: 900;
    font-size: 0.8em;
    color: white;
    display: none;
}

input:checked:after{
    display: block;
}


/*------------------------------------------------- SECTION NEEDME -----------------------------------------------------------*/


.sentence{
    font-family: "typo1";
    color: rgb(161, 161, 161);
    font-style: italic;
}


/*------------------------------------------------- FOOT SECTION -----------------------------------------------------------*/


.footSection{
    text-align: right;
}

a{
    text-decoration: none;
    color: black;
}